-#form - this is @categories object
= form_for [:admin, Image.new], :url => {:action => 'dash_save'}, :remote => true do |f|
  = f.select_tag(:category_name, options_from_collection_for_select(form, "title", "title"))
  = f.hidden_field :url, :value => img.image
  = f.submit "Add", :id => img.id
  = link_to "/admin/dashboard/#{img.id}", :method => :delete, :remote => true do
    %i.icon-remove.icon-2x.remove
