.container_events
  = link_to 'Graphs', graphs_path
  %table
    %tr
      %td
        %b= 'USER'
      %td{:colspan => 6}
        %b= 'ACTION'
        -@users.each do |user|
          %tr
            %td
              %b= user.email
            %td
              = link_to 'All', show_type_path('all', user.id)
              = '|'
            %td
              = link_to 'navigation', show_type_path('Click on link', user.id)
              = '|'
            %td
              = link_to 'sign in ', show_type_path('sign_in', user.id)
              = '|'
            %td
              = link_to 'sign out', show_type_path('sign_out', user.id)
              = '|'
            %td
              = link_to 'likes', show_type_path('likes', user.id)
              = '|'
            %td
              = link_to 'subscribe', show_type_path('subscribe', user.id)
              = '|'
            %td
              = link_to 'unsubscribe', show_type_path('unsubscribe', user.id)
              = '|'
            %td
              = link_to 'comments', show_type_path('comment', user.id)