= form_for Image.new do |f|
  -@images.each do |link|
    .stolen_pics
      .images_block
        .image
          = image_tag link

        = f.check_box_tag(:select)
        = f.select_tag('category', options_for_select(@categories.collect do |cat| [cat.title] end))

  = paginate @images