%h3
  = "result for #{params[:parse][:url]}"
  %h2= "#{@images.count} images"
-@images.each_with_index do |link, index|
  .stolen_pics
    .images_block
      .image
        = image_tag link
        = form_for Image.new, url: { action: 'save'}, :remote => true do |f|
          = f.select_tag(:category_name, options_for_select(@categories.collect do |cat| [cat.title] end))
          = f.hidden_field :url, :value => link
          = f.submit "Add", :id => [index]