.container_5_img
  -@images.each do |image|
    .images_block
      = link_to image_path(image) do
        .image-hover
          .info_block
            %i.icon-comments.icon-large
              = image.comments.length
            %i.icon-heart.icon-large
              = image.likes.length
        .image
          = image_tag image.image.url(:thumb), :class => 'img-circle'

  %b= paginate @images