.container_img
  .img_show
    = image_tag @image.image, :height => 400, :width => 400

  .comment-form
    .comments
      - if !@comments.blank?
        -@comments.each do |comment|
          %blockquote
            .comment_name
              -#= comment.name
            .comment_discription
              = comment.description
            %small.comment_time
              = time_ago_in_words comment.created_at
      -else
        = 'No one commented this boobs yet'
      = paginate @comments


    = form_for [@image, Comment.new], :remote => true, :html => {:class => 'form-inline'} do |f|
      .input-append
        = f.text_field :description, :placeholder => 'Comment'
        = f.submit 'Add comment', class: 'btn btn-primary ', id: 'comment-button'