.arrow_left
  -if @image_first_id == params[:id].to_i
    %i.icon-chevron-left.icon-2x
  -else
    =link_to image_path(params[:id].to_i - 1) do
      %i.icon-chevron-left.icon-2x
.arrow_right
  -if @image_last_id == params[:id].to_i
    %i.icon-chevron-right.icon-2x
  -else
    =link_to image_path(params[:id].to_i + 1) do
      %i.icon-chevron-right.icon-2x

.container_img
  .img_show
    = image_tag @image.image, :class => 'img-thumbnail'
  .like_block
    %b
      = 'Like:'
      .like_counter
        = @image.likes_count

    .like_buttons
      -if current_user
        -if current_user.likes.where("image_id = #{@image.id}").blank?
          = link_to i_like_this_path, :remote => true do
            %i.icon-thumbs-up-alt.icon-2x
        -else
          = link_to i_dont_like_this_path, :remote => true do
            %i.icon-thumbs-down-alt.icon-2x
    %b
      = 'Comments:'
      = @image.comments_count
      .rate_block
        -if current_user && current_user.ratings.where("image_id = #{@image.id}").blank?
          = render :partial => 'rating'
        -else
          = render :partial => 'rating_exist'

  .comment-form
    .comments
      - if !@comments.blank?
        -@comments.each do |comment|
          %blockquote
            .comment_name
              -@user.each do |user|
                -if user.id == comment.user_id
                  = user.name
              %small.comment_time
                = time_ago_in_words comment.created_at
                = 'ago'
            .comment_discription
              = comment.description.capitalize

      -else
        = 'No one commented this boobs yet'
    -if user_signed_in?
      = form_for [@image, @com = Comment.new], :remote => true, :html => {:class => 'form-inline'} do |f|
        .input-append
          = f.text_field :description, :placeholder => 'Comment'
          = f.submit 'Add comment', class: 'btn btn-primary ', id: 'comment-button', data: {disable_with: 'Please wait...'}
    -else
      = 'You need'
      = link_to ' sign in ', new_user_session_path
      = 'before left comments'
      %br
      = 'or you can use your '
      = link_to 'facebook', '/auth/facebook'
      = 'accaunt'

    .pagination
      %b= paginate @comments