!!!
%html
  %head
  %title Gallery
  = stylesheet_link_tag "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags
  %body
    #header
      .container
        %span.title
          = link_to "Best Boobs", root_path

        .pull-right
          %span.login
            -if current_user
              = t('.hello')
              = current_user.email
              = link_to destroy_user_session_path, method: :delete do
                %i.icon-signout.icon-2x{ :title => t('.sign_out')}
            -else
              = link_to new_user_session_path do
                %i.icon-signin.icon-2x{ :title => t('.sign_in') }
              = link_to new_user_registration_path do
                %i.icon-user.icon-2x{ :title => t('.registration') }
            = link_to '/auth/facebook', :class => 'facebook' do
              %i.icon-facebook-sign.icon-2x

          %small
            = link_to 'en', :locale=>'en'
            = '|'
            = link_to 'ru', :locale=>'ru'


        %ul.nav.nav-tabs
          %li
            = link_to t('.categories'), categories_path
          %li
            = link_to t('.all_boobs'), show_all_path
          %li
            = link_to t('.all_comments')
          %li
            = link_to t('.user_actions'), events_path

    #global
      = yield

    #footer
      #footer_nav_block
        -@categories.each do |category|
          .footer_nav_block_items
            %span
              = link_to category.title.upcase, show_categories_path(category.title)

      #footer_footer
        = 'Best Boobs 2013(c)'