!!!
%html
  %head
  %title Gallery
  = stylesheet_link_tag "application", :media => "all"
  -#%link{:href => "../css/bootstrap.css", :rel => "stylesheet"}/
  -#%link{:href => "../css/font-awesome.css", :rel => "stylesheet"}/
  = javascript_include_tag "application"
  = csrf_meta_tags
  %body
    #header
      .container
        %span.title
          = "Best Boobs"
        .pull-right
          -if current_user
            = "Hello, #{current_user.email}"
            = link_to 'Logout', destroy_user_session_path, method: :delete
          -else
            = link_to 'Sign in', new_user_session_path
            = link_to 'Registration', new_user_registration_path
          %i.icon-facebook-sign.icon-3x
          %i.icon-twitter-sign.icon-3x
    = yield

    #footer
      #footer_nav_block
        .footer_nav_block_items
          %span
            = 'HTML5'
        .footer_nav_block_items
          %span
            = 'CSS3'
        .footer_nav_block_items
          %span
            = 'RAILS'
        .footer_nav_block_items
          %span
            = 'JAVASCRIPT'
        .footer_nav_block_items
          %span
            = 'AJAX'
      #footer_footer
        = 'Best Boobs 2013(c)'